body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #353434, #340c51);
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

header {
    border-bottom: 1px solid #4a4a4a;
}

#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.form-wrapper {
    max-width: 780px;
    width: 550px;
    background: #2e2d2d;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #3c3c3c;
}

h2 {
    color: #b483ff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #1a1a1a;
}

label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    color: #e6e6e6;
}

input {
    border: 1px solid #4a4a4a;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    background-color: #222121;
    color: #ffffff;
    transition: border 0.3s, background-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #b483ff;
    background-color: #292828;
}

button {
    background: cadetblue;
    color: #222121;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background 0.3s;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background: #9d6eff;
}

.btn-link {
    text-decoration: none;
    color: #b483ff;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.btn-link:hover {
    text-decoration: underline;
}
